<div class="row">

  <div class="col-md-8">
     <h2>Comments</h2>
    <% comments.each do |comment| %>
    <div class="media">
      <div class="media-body">
        <h4 class="media-heading">
          <small>
           <%= comment.body %><br />
          submitted by <%= comment.user.name %>
          </small>
        </h4>
      </div>
    </div>
    <% end %>
  </div>
</div>

